.padded {
  padding-top: 35px;
}
.header-left {
    height: 60px;
    background-color: black;
}

.header-mid {
    height: 20px;
    background-color: black;
}

.first-block {
  height: 300px;
  background-color: black;
}

.mid-title {
  height: 25px;
  background-color: black;
}

.mid-blocks {
  height: 120px;
  background-color: black;
}
